css:
  ::-webkit-scrollbar { 
      display: none; 
  }


.row style="margin-top: 10px;margin-left: 10px; margin-right: 5px"
  .col-10
    .row style="padding-right: 30px"
      div#botao_carrinho.col-lg-3.col-md-6
        .card
          .card-body
            .d-flex.flex-row
              <div class="user-img"><img alt="user" class="img-circle" height="60" src="../imagens/user.jpg" width="60"><span class="profile-status online pull-right"></span></div>
              .m-l-10.align-self-center
                h3#nome_usuario.m-b-0.font-lgiht
                h5#saldo_usuario.text-muted.m-b-0
      div#botao_favoritos.col-lg-3.col-md-6
        .card
          .card-body
            .d-flex.flex-row
              .round.round-lg.align-self-center.round-info
                i.ti-wallet
              .m-l-10.align-self-center
                h3.m-b-0.font-light Favoritos
                h5.text-muted.m-b-0 Em Breve
      div#botao_produtos.col-lg-3.col-md-6
        .card
          .card-body
            .d-flex.flex-row
              .round.round-lg.align-self-center.round-warning
                i.mdi.mdi-cellphone-link
              .m-l-10.align-self-center
                h3.m-b-0.font-lgiht Produtos
      div#botao_combos.col-lg-3.col-md-6
        .card
          .card-body
            .d-flex.flex-row
              .round.round-lg.align-self-center.round-primary
                i.mdi.mdi-cart-outline
              .m-l-10.align-self-center
                h3.m-b-0.font-lgiht Combos

    .row style="padding-right: 30px"
      .col-1.retirar_padding_right
        div#filtro_tipo_produto class="" style=""
      .col-11
        div#table_all
        div#table_combos_all style="display:none"

  .col-2
    .card style="position: fixed; top: 10px; right: 10px; width: 300px"
      .card-body
        h4.card-title Lista de Compras
        ul#lista_compras_lateral.feeds
          li
            | Carrinho Vazio

div#div_combo_produtos.card style="position:fixed; top: 20px; left:20px; display:none"
  .card-body
    h2.card-title Combo 1
    h6.card-subtitle Escolha seu Produtosgit p
    div#table_combos_produtos_all


.card style="position:fixed; top: 200px; left:200px; display:none"
  .card-body
    h2.card-title Combo Tipo 1
    h6.card-subtitle Escolha seu Produtos
    div#table_combos_tipos_produtos_all

/! sample modal content
#modal_mensagem.modal.fade aria-hidden="true" aria-labelledby="modal_mensagem_titulo" role="dialog" tabindex="-1" 
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        h4#modal_mensagem_titulo.modal-title Modal Heading
        button.close aria-hidden="true" data-dismiss="modal" type="button"  ×
      #modal_mensagem_conteudo.modal-body
        h4 Overflowing text to show scroll behavior
        p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      .modal-footer
        button.btn.btn-info.waves-effect data-dismiss="modal" type="button"  Close
    /! /.modal-content
  /! /.modal-dialog



/! sample modal content
#verticalcenter.modal.fade aria-hidden="true" aria-labelledby="vcenter" role="dialog" tabindex="-1" 
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        h4#vcenter.modal-title Modal Heading
        button.close aria-hidden="true" data-dismiss="modal" type="button"  ×
      .modal-body
        h4 Overflowing text to show scroll behavior
        p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      .modal-footer
        button.btn.btn-info.waves-effect data-dismiss="modal" type="button"  Close
    /! /.modal-content
  /! /.modal-dialog


#erro_compra_produto.modal.fade aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" 
  .modal-dialog
    .modal-content
      .modal-header
        h4#myModalLabel.modal-title Erro 
        button.close aria-hidden="true" data-dismiss="modal" type="button"  ×
      #erro_produto_conteudo.modal-body
      .modal-footer
        button.btn.btn-info.waves-effect data-dismiss="modal" type="button"  Fechar
    /! /.modal-content
  /! /.modal-dialog

#erros_sistema.modal.fade aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" 
  .modal-dialog
    .modal-content
      .modal-header
        h4#myModalLabel.modal-title Erro 
        button.close aria-hidden="true" data-dismiss="modal" type="button"  ×
      #erros_sistema_conteudo.modal-body
      .modal-footer
        button.btn.btn-info.waves-effect data-dismiss="modal" type="button"  Fechar
    /! /.modal-content
  /! /.modal-dialog

javascript:

  function iniciar_produto(){
    criar_tabelas_tipo_produtos()
    criar_tabelas_combos()
    criar_filtro_tipo_produto()
    setar_dados_usuario()
  }

  function setar_dados_usuario(){
    $("#nome_usuario").html(user_nome)
    if(user_saldo == user_saldo_total){
      $("#saldo_usuario").html("Saldo: "+number_to_currency(parseInt(user_saldo), { unit: "R$ " }))
    }else{
      $("#saldo_usuario").html("Saldo: "+number_to_currency(parseInt(user_saldo), { unit: "R$ " })+"<br> Saldo Diário: "+number_to_currency(parseInt(user_saldo_total), { unit: "R$ " }))
    }
  }

  $("#botao_produtos").click(function(){
    $("#table_all").show()
    $("#table_combos_all").hide()
  })

  $("#botao_combos").click(function(){
    $("#table_combos_all").show()
    $("#table_all").hide()
  })

  function criar_filtro_tipo_produto_old(){
    var conteudo = ""
    conteudo += '<div onclick="filtrar_tipo(0)" style="width: 100px;"><img height="100" src="/imagens/original/missing.png" style="border-radius: 50%;" width="100"><div style="text-align: center;">Todos</div></div><br>'
    for( j in tipos_all ){
      conteudo += '<div onclick="filtrar_tipo('+tipos_all[j].id+')" style="width: 100px;"><img height="100" src="/imagens/original/missing.png" style="border-radius: 50%;" width="100"><div style="text-align: center;">'+tipos_all[j].nome+'</div></div><br>'
    }
    $("#filtro_tipo_produto").html(conteudo)
  }

  function criar_filtro_tipo_produto(){
    var conteudo = ""
    conteudo += '<div onclick="filtrar_tipo(0)" class="error_validate alert alert-info pointer" id="erro_senha" style="text-align: center;">Todos</div>'
    for( j in tipos_all ){
      conteudo += '<div onclick="filtrar_tipo('+tipos_all[j].id+')" class="alert alert-info pointer" id="erro_senha" style="text-align: center;">'+tipos_all[j].nome+'</div>'
    }
    $("#filtro_tipo_produto").html(conteudo)
  }

  function filtrar_tipo(filtro_id){
    if (filtro_id == 0){
      $('table[id^=tabela_produto_tipo_]').show()
    }else{
      $('table[id^=tabela_produto_tipo_]').hide()
      $('#tabela_produto_tipo_'+filtro_id).show()
    }
  }
  

  function criar_tabelas_tipo_produtos(){
    console.log("-----")
    console.log(tipos_all)

    var tables = "" 

    for( j in tipos_all ){
      produtos_tipo = produtos_all.filter(x => x.tipo_produto === tipos_all[j].id)

      var x;
      var ths = ""
      var quantidade_total_produtos = produtos_tipo.length
      if (quantidade_total_produtos < 9){
        num_max = produtos_tipo.length
      }else{
        num_max = 9
      }
      for (x = 0; x < num_max - 1; x++) { 
        ths += "<th></th>";
      }

      tables += '<table id="tabela_produto_tipo_'+tipos_all[j].id+'" class="table color-bordered-table info-bordered-table"><thead><tr><th colspan="'+num_max+'">'+tipos_all[j].nome+'</th></tr></thead><tbody>'
      
      var produtos_table_string = ""
      var produtos_table_string_total = ""

      for( i in produtos_tipo){

        produtos_table_string += '<td><div onclick="add_produto('+produtos_tipo[i].id+')" style="width: 120px; height: 180px;"><img height="120" src="'+produtos_tipo[i].url+'" style="border-radius: 50%;" width="120"><div style="text-align: center;">'+produtos_tipo[i].nome+'<br>'+number_to_currency(produtos_tipo[i].preco, { unit: "R$ " })+'</div></div></td>'

        var ii = parseInt(i)+1
        if ( ii % 9 == 0 ){
          produtos_table_string = "<tr>" + produtos_table_string + "</tr>" 
          produtos_table_string_total += produtos_table_string
          produtos_table_string = ""
        }
      }

      if (produtos_table_string != "")
      {
        var tds = ""

        if (quantidade_total_produtos > 9){
          resto = 9 - (quantidade_total_produtos % 9)
          for (x = 0; x < resto; x++) { 
            tds += "<td></td>";
          }
        }
        produtos_table_string_total += "<tr>" + produtos_table_string + tds +"</tr>"
      }

      tables += produtos_table_string_total + '</tbody></table>'
    }

    $("#table_all").html(tables)

  }

  lista = []
  function add_produto(produto_id) {
    console.log(produto_id)
    
    produto = produtos_all.find(x => x.id === produto_id)

    lista.push({produto_id: produto_id, produto_nome: produto.nome, quantidade: 1, preco: produto.preco })

    listar_produtos()
  }

  function remover_produto_lista(i){
    lista.splice(i, 1)
    listar_produtos()

  }

  var total_compra = 0
  function listar_produtos(){
    
    var conteudo = ""
    var sem_produto = false
    var total = 0
    if(lista.length < 1){
      conteudo += '<li>Carrinho Vazio</li>'
      var sem_produto = true

    }

    for(i in lista){
      total += lista[i].preco
      if(lista[i].produto_nome != undefined){
        conteudo += '<li onclick="remover_produto_lista('+i+')">'+lista[i].produto_nome+'<span class="text-muted">'+number_to_currency(lista[i].preco, { unit: "R$ " })+'</span></li>'
        
      }else{
        conteudo += '<li onclick="remover_produto_lista('+i+')">'+lista[i].nome+'<span class="text-muted">'+number_to_currency(lista[i].preco, { unit: "R$ " })+'</span>'

        conteudo += '<ul class="feeds">'
        for(j in lista[i].produtos){
          var prod_combo = produtos_all.find(x => x.id === lista[i].produtos[j])
          conteudo += '<li>'+prod_combo.nome+'</li>'

        }
        conteudo += '</ul></li>'


      }
      //conteudo += '<div id="lista_collapse_'+i+'" class="collapse" style="text-align: right"><button type="button" class="btn btn-sm waves-effect waves-light btn-danger" onclick="remover_produto_lista('+i+')" style="margin-left: 25px">Remover</button></div>'
    }

    if(!sem_produto){
      total_compra = total
      conteudo += '<li></li>'
      conteudo += '<li><b>Total</b><span class="text-muted"><b>'+number_to_currency(total, { unit: "R$ " })+'</b></span></li>'
      conteudo += '<li><button id="confirmar_compra_botao" type="button" class="btn btn waves-effect waves-light btn-primary" onclick="finalizar_compra()" style="width: 100%">Confirmar</button></li>'
    }

    $("#lista_compras_lateral").html(conteudo)

    
  }

  function confirmar_compra(){
    $("#erro_compra_produto").modal()
  }

  function criar_tabelas_combos(){
    console.log("-----")
    console.log(combos_all)

    var tables = "" 


    var x;
    var ths = ""
    var quantidade_total_combos = combos_all.length
    if (quantidade_total_combos < 9){
      num_max = combos_all.length
    }else{
      num_max = 9
    }
    for (x = 0; x < num_max - 1; x++) { 
      ths += "<th></th>";
    }

    tables += '<table class="table color-bordered-table info-bordered-table"><thead><tr><th colspan="'+num_max+'">Combos</th></tr></thead><tbody>'
    
    var table_string = ""
    var table_string_total = ""

    for( i in combos_all){

      table_string += '<td><div onclick="add_combo('+combos_all[i].id+')" style="width: 120px; height: 180px;"><img height="120" src="'+combos_all[i].url+'" style="border-radius: 50%;" width="120"><div style="text-align: center;">'+combos_all[i].nome+'<br> '+number_to_currency(combos_all[i].preco, { unit: "R$ " })+'</div></div></td>'

      var ii = parseInt(i)+1
      if ( ii % 9 == 0 ){
        table_string = "<tr>" + table_string + "</tr>" 
        table_string_total += table_string
        table_string = ""
      }
    }

    if (table_string != "")
    {
      var tds = ""

      if (quantidade_total_combos > 9){
        resto = 9 - (quantidade_total_combos % 9)
        for (x = 0; x < resto; x++) { 
          tds += "<td></td>";
        }
      }
      table_string_total += "<tr>" + table_string + tds +"</tr>"
    }

    tables += table_string_total + '</tbody></table>'

    $("#table_combos_all").html(tables)

  }

  var edicao_combo = ""
  var edicao_salgado = ""

  function add_combo(combo_id){

    $("#div_combo_produtos").hide()
    
    var combo = combos_all.find(x => x.id === combo_id)

    edicao_combo = { id: combo.id, nome: combo.nome, preco: combo.preco, produtos: combo.produtos.slice(), tipo_produtos: combo.tipo_produtos.slice(), url: combo.url }

    popular_combo_produto(combo)


  }

  function add_tipo_produto_combo(combo_id, ipo_produto_id){

    popular_combo_produto_tipo(combo_id, ipo_produto_id)


  }

  function add_tipo_produto_edicao(tipo_id, produto_id){

    console.log("AQKK")

    index = edicao_combo.tipo_produtos.findIndex(x => x === tipo_id);
    edicao_combo.tipo_produtos.splice(index, 1);

    edicao_combo.produtos.push(produto_id)

    popular_combo_produto(edicao_combo)

  }

  function remover_produto_edicao_combo(produto_id){

    index = edicao_combo.produtos.findIndex(x => x === produto_id);
    edicao_combo.produtos.splice(index, 1);
    popular_combo_produto(edicao_combo)

  }

  function remover_tipo_produto_edicao_combo(tipo_id){
    index = edicao_combo.tipo_produtos.findIndex(x => x === tipo_id);
    edicao_combo.tipo_produtos.splice(index, 1);
    popular_combo_produto(edicao_combo)

  }

  function confirmar_combo(){
    console.log("ENTRO")
    console.log(edicao_combo.tipo_produtos.length)
    if(edicao_combo.tipo_produtos.length > 0){
      $("#modal_mensagem_titulo").html("Atenção")
      $("#modal_mensagem_conteudo").html("Favor selecionar ou excluir os tipos do produto.")
      $("#modal_mensagem").modal()
    }else{
      lista.push(edicao_combo)
      reset_combo()
      listar_produtos()
    }
  }

  function popular_combo_produto(combo){

    var combo_produtos = combo.produtos
    var combo_tipo_produtos = combo.tipo_produtos


    console.log(combo_produtos)
    console.log(combo_tipo_produtos)

    tables = "" 

    var x;
    var ths = ""
    var quantidade_total_no_combo = combo_produtos.length + combo_tipo_produtos.length
    if (quantidade_total_no_combo < 9){
      num_max = quantidade_total_no_combo
    }else{
      num_max = 9
    }
    for (x = 0; x < num_max - 1; x++) { 
      ths += "<th></th>";
    }

    tables += '<table class="table color-bordered-table info-bordered-table"><thead><tr><th colspan="'+num_max+'"><button type="button" onclick="reset_combo()" class="btn btn-xs waves-effect waves-light btn-primary"><</button> Combos > '+combo.nome+'</th></tr></thead><tbody>'
    
    var table_string = ""
    var table_string_total = ""

    for( i in combo_produtos){

      var combo_prod = produtos_all.find(x => x.id === combo_produtos[i])

      table_string += '<td><div onclick="add_produto_combo('+combo_prod.id+')" style="width: 120px; height: 180px;"><img height="120" src="'+combo_prod.url+'" style="border-radius: 50%;" width="120"><div style="text-align: center;">'+combo_prod.nome+'<br>  </div></div><button type="button" class="btn btn-sm waves-effect waves-light btn-danger" onclick="remover_produto_edicao_combo('+combo_prod.id+')" style="margin-left: 25px">Remover</button></td>'

      var ii = parseInt(i)+1
      if ( ii % 9 == 0 ){
        table_string = "<tr>" + table_string + "</tr>" 
        table_string_total += table_string
        table_string = ""
      }
    }

    for( i in combo_tipo_produtos){
      
      var combo_tipo_prod = tipos_all.find(x => x.id === combo_tipo_produtos[i])

      table_string += '<td><div onclick="add_tipo_produto_combo('+combo.id+','+combo_tipo_prod.id+')" style="width: 120px; height: 180px;"><img height="120" src="/imagens/original/missing.png" style="border-radius: 50%;" width="120"><div style="text-align: center;">'+combo_tipo_prod.nome+'<br> </div></div><button type="button" class="btn btn-sm waves-effect waves-light btn-danger" onclick="remover_tipo_produto_edicao_combo('+combo_tipo_prod.id+')" style="margin-left: 25px">Remover</button></td>'

      var ii = parseInt(i)+1
      if ( ii % 9 == 0 ){
        table_string = "<tr>" + table_string + "</tr>" 
        table_string_total += table_string
        table_string = ""
      }
    }

    if (table_string != "")
    {
      var tds = ""

      if (quantidade_total_no_combo > 9){
        resto = 9 - (quantidade_total_no_combo % 9)
        for (x = 0; x < resto; x++) { 
          tds += "<td></td>";
        }
      }
      table_string_total += "<tr>" + table_string + tds +"</tr>"
    }

    bottuns_tds = ""
    for (x = 0; x < quantidade_total_no_combo - 1; x++) { 
      bottuns_tds += "<td></td>";
    }



    //tables += bottuns_tds + '<td><button type="button" class="btn waves-effect waves-light btn-primary">Confirmar</button><br><button type="button" class="btn waves-effect waves-light btn-danger" style="margin-left: 10px">Cancelar</button></td>'


    tables += table_string_total + '</tbody></table>'

    tables += '<card><card-body><div class="m-b-10" style="text-align: right"><button type="button" class="btn waves-effect waves-light btn-primary" onclick="confirmar_combo()">Confirmar Combo</button><button type="button" class="btn waves-effect waves-light btn-danger" style="margin-left: 10px" onclick="reset_combo()">Cancelar</button></div></card-body></card>'


    $("#table_combos_all").html(tables)

  }

  function popular_combo_produto_tipo(combo_id, tipo_produto_id){

    var produtos_tipo = produtos_all.filter(x => x.tipo_produto === tipo_produto_id)
    var tipo = tipos_all.find(x => x.id === tipo_produto_id)
    var combo = combos_all.find(x => x.id === combo_id)

    var tables = "" 

    var x;
    var ths = ""
    var quantidade_total_no_combo = produtos_tipo.length
    if (quantidade_total_no_combo < 9){
      num_max = quantidade_total_no_combo
    }else{
      num_max = 9
    }
    for (x = 0; x < num_max - 1; x++) { 
      ths += "<th></th>";
    }

    tables += '<table class="table color-bordered-table info-bordered-table"><thead><tr><th colspan="'+num_max+'"><button type="button" onclick="reset_combo()" class="btn btn-xs waves-effect waves-light btn-primary"><</button> Combos > '+combo.nome+' > '+tipo.nome+'</th></tr></thead><tbody>'
    
    var table_string = ""
    var table_string_total = ""

    for( i in produtos_tipo){

      table_string += '<td><div onclick="add_tipo_produto_edicao('+tipo_produto_id+','+produtos_tipo[i].id+')" style="width: 120px; height: 180px;"><img height="120" src="'+produtos_tipo[i].url+'" style="border-radius: 50%;" width="120"><div style="text-align: center;">'+produtos_tipo[i].nome+'<br></div></div></td>'

      var ii = parseInt(i)+1
      if ( ii % 9 == 0 ){
        table_string = "<tr>" + table_string + "</tr>" 
        table_string_total += table_string
        table_string = ""
      }
    }

    if (table_string != "")
    {
      var tds = ""

      if (quantidade_total_no_combo > 9){
        resto = 9 - (quantidade_total_no_combo % 9)
        for (x = 0; x < resto; x++) { 
          tds += "<td></td>";
        }
      }
      table_string_total += "<tr>" + table_string + tds +"</tr>"
    }

    tables += table_string_total + '</tbody></table>'

    $("#table_combos_all").html(tables)

  }

  function reset_combo(){
    criar_tabelas_combos()
  }

  function finalizar_compra(){

    console.log("TOTAL: "+total_compra)
    console.log("USER: "+user_saldo)

    $("#confirmar_compra_botao").prop("disabled", true)

    if (total_compra < user_saldo){

      var totem_token = "HD25512FVJEJHZX2558VGBKJE45"

      $.post("/finalizar_compra",
      {
        user_id: user_id,
        lista: lista
      },
      function(data, status){

        console.log(data)
        console.log(status)

        if(data.status == 'OK'){

          window.open("/transferencia_gerais/transferencia_pdf/"+data.transferencia+".pdf?totem=1")

          location.reload();

        }else if(data.status == 'ERRO_QUANTIDADE_PRODUTO'){

          conteudo = "Produtos sem estoque !<br>"

          for(i in data.produtos){
            conteudo += data.produtos[i] + "<br>"
          }

          $("#erro_produto_conteudo").html(conteudo)

          $("#erro_compra_produto").modal()

          $("#confirmar_compra_botao").prop("disabled", false)

        }

      });
    }else{
      $("#erros_sistema_conteudo").html("Saldo insuficiente.")
      $("#erros_sistema").modal()
      $("#confirmar_compra_botao").prop("disabled", false)

    }
  }