.row
  .col-12
    .card
      .card-body
        h2.card-title Parametros do Relatório
        .row.col-12
          .col-4
            h5.m-t-20 Tipos
            select#select_tipo.select2.m-b-10.select2-multiple data-placeholder="Escolha os tipos" multiple="multiple" style=("width: 100%")
              - TipoUser.all.each do |tipo|
                option value="#{tipo.id}" = tipo.nome

          .col-4
            h5.m-t-20 Nome
            input#user_nome.string.required.form-control style="height: 50px" type="text"

          .col-4
            h5.m-t-20 Codigo
            input#user_codigo.string.required.form-control style="height: 50px" type="text"

          .col-4
            h5.m-t-20 Ativo ?
            select#select_ativo.select2.m-b-10 data-placeholder="Escolha os usuários" style=("width: 100%")
              option selected="true" value="0" Todos
              option value="true" Ativos
              option value="false" Inativos
          .col-4
            h5.m-t-20 Saldo Entre
            .row
              .col-6
                input#saldo_inicio.string.form-control placeholder="" type="text"
              .col-6
                input#saldo_fim.string.form-control placeholder="" type="text"
          .col-4
            h5.m-t-20 Credito Entre
            .row
              .col-6
                input#credito_inicio.string.form-control placeholder="" type="text"
              .col-6
                input#credito_fim.string.form-control placeholder="" type="text"
                     
        br
        div.col-12
          / button#buscar_relatorio.btn.btn-success.waves-effect.waves-light.m-r-10 type="button" Filtrar
          button#gerar_relatorio.btn.btn-success.waves-effect.waves-light.m-r-10 type="button" Gerar Relatório


javascript:

  $(function() {
    $('#quantidade_credito').maskMoney({'prefix': 'R$ '});
  })

  $("#gerar_relatorio").click(function(){

    var location = "/relatorio_transferencia?"


    console.log("---------------------------")

    string_tipo = ""
    if ($("#select_tipo").val().length){
      tipos = $("#select_tipo").val()
      string_tipo = ""
      for(i in tipos){
        string_tipo = string_tipo + tipos[i] + "::"
      }
      string_tipo = string_tipo.substring(0, string_tipo.length-2)
    }

    string_ativo = ""
    cancelada = $("#select_ativo").val()
    if (cancelada == "true"){
      string_ativo = "true"
    }else if(cancelada == "false"){
      string_ativo = "false"
    }

    console.log($("#select_tipo").val().length)
    console.log($("#user_nome").val())
    console.log($("#user_codigo").val())
    console.log($("#select_ativo").val())
    console.log($("#saldo_inicio").val())
    console.log($("#saldo_fim").val())
    console.log($("#credito_inicio").val())
    console.log($("#credito_fim").val())

    //console.log(string_busca)


    $.getJSON("/criar_relatorio", { 
      nome_arquivo: "Usuários", 
      nome: "usuarios", 
      param_1: string_tipo, 
      param_2: $("#user_nome").val(), 
      param_3: $("#user_codigo").val(), 
      param_4: $("#saldo_inicio").val().replace("R$ ", ""), 
      param_5: $("#saldo_fim").val().replace("R$ ", ""), 
      param_6: $("#credito_inicio").val().replace("R$ ", ""), 
      param_7: $("#credito_fim").val().replace("R$ ", ""),
      param_8: $("#select_ativo").val() 
    },function(resultado) {
      if (resultado) {
        console.log(resultado)
        swal("Sucesso!","Relatório criado. Favor conferir na pagina de Downloads dentro de alguns segundos.","success")
      } else {
        console.log("NAO DEU");
      }
    })

    //window.location = "/relatorio_transferencia?"+string_busca

  })

  $(".select2").select2();

  $('#example23').DataTable({
      "ordering": false,
      "displayLength": 15,
      dom: 'Bfrtip',
      buttons: [
          'copy', 'csv', 'excel', 'pdf', 'print'
      ]
  });

