.row
  .col-12
    .card
      .card-body
        h2.card-title Compras
        h6.card-subtitle Realização de compras de produtos e combos
        h4.box-title.m-t-10
          | Dados Usuario
        hr
        div.col-12
          h5.m-t-20 Usuário
          select#select_usuario.select2.m-b-10.select2-multiple data-placeholder="Escolha um usuário" style=("width: 100%")
            option value="" Escolha um usuário
            option id="option_usu_0" usuario_nome="Sem Usuário" usuario_saldo_disponivel="99999999999999999999999" value="0" produtos_bloqueados="" Venda Direta
            - User.where(escola_id: current_user.escola_id, sem_compra: [nil,false]).order(:nome).each do |user|
              option id="option_usu_#{user.id}" value="#{user.id}" usuario_saldo_disponivel="#{user.saldo_diario_atual}" produtos_bloqueados="#{user.bloqueio_produtos.map(&:produto_id).join(',')}" usuario_nome="#{user.nome}"
                = "#{user.nome}"
          br
          br
          div.div_saldo.alert.alert-info style="display: none"
            span
          div.erro_saldo.alert.alert-danger style="display: none"
            span
          div.div_erro_bloqueio.alert.alert-danger style="display: none"
            span

        h4.box-title.m-t-10
          | Produtos
        hr
        div.col-12
          div#add_produtos
          button#add_produto_botao.btn.btn-primary.waves-effect.waves-light helper='button' Adicionar Produto
          br
          br
          div#add_combos
          button#add_combo_botao.btn.btn-primary.waves-effect.waves-light helper='button' Adicionar Combo
          br
          br
          div.div_erro_quantidade.alert.alert-danger style="display: none"
            span
          div.div_erro_selecao.alert.alert-danger style="display: none"
            span

        button#add_prod_usu.btn.btn-success.waves-effect.waves-light.m-r-10 type="button" Adicionar
        br
        br
        h4.box-title.m-t-10
          | Lista
        hr
        div#div_confirmacao.comment-widgets

        button#enviar_confirmacao.btn.btn-success.waves-effect.waves-light.m-r-10 type="button" Comprar
        a.btn.waves-effect.waves-light.btn-info helper="button" href="" id="imprimir_tudo" style="margin-right: 10px; display: none" target="_blank" Imprimir Todos


javascript:
  var produto_num = 0;
  var combo_num = 0;
  var select_prod_options = "#{@select_prod_options}"
  var select_combo_options = "#{@select_combo_options}"
  var produtos_all_string = "#{@produtos_cardapio_string}"
  var combos_all_string = "#{@combos_cardapio_string}"

  var confirmacao = [];

  produtos_all = []
  produtos_all_preco = []
  produtos_all_quantidade = []

  prod_card = produtos_all_string.split("...")

  for(i in prod_card){
    prod_dados = prod_card[i].split("::")
    produtos_all[prod_dados[1]] = prod_dados[0]
    produtos_all_preco[prod_dados[1]] = parseFloat(prod_dados[2])
    produtos_all_quantidade[prod_dados[1]] = parseFloat(prod_dados[3])
  }

  combos_all = []
  combos_all_preco = []

  comb_card = combos_all_string.split("...")

  for(i in comb_card){
    comb_dados = comb_card[i].split("::")
    combos_all[comb_dados[1]] = comb_dados[0]
    combos_all_preco[comb_dados[1]] = parseFloat(comb_dados[2])
  }

  select_prod_options = replaceAll(select_prod_options,"&lt;","<")
  select_prod_options = replaceAll(select_prod_options,"&gt;",">")
  select_prod_options = replaceAll(select_prod_options,"&#39;","'")

  select_combo_options = replaceAll(select_combo_options,"&lt;","<")
  select_combo_options = replaceAll(select_combo_options,"&gt;",">")
  select_combo_options = replaceAll(select_combo_options,"&#39;","'")



  $("#select_val").change(function(){
    console.log($(this).val())
  })
  $(".select2").select2();

  $("#add_produto_botao").click(function(){
    select_produto = "<div class='row' id='div_select_prod_"+produto_num+"'><div class='col-10'><select id='select_prod_"+produto_num+"' class='select2 m-b-10 select2-multiple' style='width: 100%'>"+select_prod_options+"</select></div><div class='col-2'><button class='btn btn-danger waves-effect waves-light'  onclick='remover_select_prod("+produto_num+")' helper='button'>Remover</button></div><br><br><br></div>"
    $("#add_produtos").append(select_produto);
    $(".select2").select2();
    produto_num++
  })


  $("#add_combo_botao").click(function(){
    select_combo = "<div class='row' id='div_select_combo_"+combo_num+"'><div class='col-10'><select id='select_combo_"+combo_num+"' onchange='dados_combo(this)' combo_param='"+combo_num+"' class='select2 m-b-10 select2-multiple' style='width: 100%'>"+select_combo_options+"</select><br><br><div id='div_combo_"+combo_num+"' style='padding-left: 20px'></div></div><div class='col-2'><button class='btn btn-danger waves-effect waves-light'  onclick='remover_select_combo("+combo_num+")' helper='button'>Remover</button></div></div>"
    $("#add_combos").append(select_combo);
    $(".select2").select2();
    combo_num++
  })

  function replaceAll(str, find, replace) {
    return str.replace(new RegExp(find, 'g'), replace);
  }

  function dados_combo(t){

      $.getJSON("/get_dados_combo", { combo_id: $(t).val() },function(resultado) {
        if (resultado) {

          combo_param = t.getAttribute("combo_param")
          $("#div_combo_"+combo_param).html("")
          

          produto_combo_def_num = 0
          
          for(i in resultado.produtos){
            input_produto_combo = "<div class='row' id='div_input_prod_combo_"+combo_param+"_"+produto_combo_def_num+"'><div class='col-10'><input class='string required form-control' disabled='disabled' type='text' id='input_prod_combo_"+combo_param+"_"+produto_combo_def_num+"' value='"+resultado.produtos[i].nome+"' produto_id='"+resultado.produtos[i].id+"'></div><div class='col-2'><button class='btn btn-danger waves-effect waves-light'  onclick='remover_select_combo_input("+combo_param+","+produto_combo_def_num+")' helper='button'>Não Quero</button></div><br><br><br></div>"
            $("#div_combo_"+combo_param).append(input_produto_combo)
            produto_combo_def_num++
          }


          produto_combo_num = 0
          for(i in resultado.tipo_produtos){

            select_produto_combo = "<div class='row' id='div_select_nested_prod_combo_"+combo_param+"_"+produto_combo_num+"'><div class='col-10'><select id='select_nested_prod_combo_"+combo_param+"_"+produto_combo_num+"' class='select2 m-b-10 select2-multiple' style='width: 100%'>"+resultado.tipo_produtos[i].opcoes+"</select></div><div class='col-2'><button class='btn btn-danger waves-effect waves-light'  onclick='remover_select_combo_select("+combo_param+","+produto_combo_num+")' helper='button'>Não Quero</button></div><br><br><br></div>"
            $("#div_combo_"+combo_param).append(select_produto_combo)
            $(".select2").select2();
            produto_combo_num++
          }

          console.log(resultado);

        } else {
          console.log("NAO DEU");
        }
      })
  }

  $("#select_usuario").change(function(){

    user_id = $(this).val()
    user_saldo_disponivel = document.getElementById("option_usu_"+user_id).getAttribute("usuario_saldo_disponivel");
    produtos_bloqueados = document.getElementById("option_usu_"+user_id).getAttribute("produtos_bloqueados");
    produtos_bloqueados_split = produtos_bloqueados.split(",")
    blod_string = ""
    if (produtos_bloqueados_split[0] != ""){
      blod_string = "Produtos Bloqueados: "
      for(i in produtos_bloqueados_split){
        if (produtos_all[produtos_bloqueados_split[i].trim()] != undefined){
          blod_string = blod_string + produtos_all[produtos_bloqueados_split[i].trim()] + ", "
        }
      }
      
      blod_string = blod_string.substring(0, blod_string.length-2);
      
    }

    if (user_id != 0){
      $("div.div_saldo span").html("Saldo Disponível: " + number_to_currency(user_saldo_disponivel, { unit: "R$ " }) + " <br> "+blod_string)
      $("div.div_saldo").show()
    } else {
      $("div.div_saldo").hide()
    }
  
  })

  var div_confirmacao_num = 0
  $("#add_prod_usu").click(function(){

    $("#enviar_confirmacao").show()
    $("div.div_erro_quantidade").hide()
    $("div.div_erro_bloqueio").hide()
    $("div.div_erro_selecao").hide()
    $("div.erro_saldo").hide()
    //<div class="d-flex flex-row comment-row"><div class="w-100"><h5>Ricardo Martins Rodriguez</h5><div class="m-b-5" id="div_obs"><div>Combo - R$ 12,20</div><div>Combo - R$ 12,20</div><div style="padding-left: 20px">Combo - R$ 12,20</div><div style="padding-left: 20px">Combo - R$ 12,20</div><div>Combo - R$ 12,20</div></div><div class="comment-footer"><span class="text-muted">Total : R$ 56,52</span></div></div></div>
    produtos = []
    produtos_atual_quantidade = []
    for (i in produtos_all_quantidade){
      produtos_atual_quantidade[i] = produtos_all_quantidade[i]
    }
    user_id = $("#select_usuario").val()

    user_nome = document.getElementById("option_usu_"+user_id).getAttribute("usuario_nome");
    user_saldo_disponivel = document.getElementById("option_usu_"+user_id).getAttribute("usuario_saldo_disponivel");
    produtos_bloqueados = document.getElementById("option_usu_"+user_id).getAttribute("produtos_bloqueados");

    produtos_bloqueados_ids = []

    if (produtos_bloqueados != ""){
      prod_blo_split = produtos_bloqueados.split(",")
      
      for(i in prod_blo_split){
        produtos_bloqueados_ids[prod_blo_split[i]] = ""
      }
    }


    erro_selecao = false
    erro_quantidade = []
    erro_bloqueio = []
    elemento_confirmacao = '<div id="div_confirmacao_usu_'+div_confirmacao_num+'" class="d-flex flex-row comment-row"><div class="w-100"><h5>'+user_nome+'</h5><div class="m-b-5">'
    total = 0
    $('[id^=select_prod_]').each(function(){
      elemento_confirmacao += '<div>'+produtos_all[$(this).val()]+' - R$ '+produtos_all_preco[$(this).val()]+'</div>'
      if ($(this).val() == 0){ erro_selecao = true }
      if (produtos_atual_quantidade[$(this).val()] > 0){
        console.log("AQUI 1"+$(this).val())
        if(produtos_bloqueados_ids[$(this).val()] == undefined){
          total = total + produtos_all_preco[$(this).val()]
          produtos.push({tipo: 'p', id: $(this).val()})
          produtos_atual_quantidade[$(this).val()] = parseInt(produtos_atual_quantidade[$(this).val()]) - 1
        }else{
          erro_bloqueio.push($(this).val())
        }
      }else{
        erro_quantidade.push($(this).val())
      }
    })
    $('[id^=select_combo_]').each(function(){
      produtos_combo = []
      combo_param = this.getAttribute("combo_param");
      if ($(this).val() == 0){ erro_selecao = true }
      elemento_confirmacao += '<div>'+combos_all[$(this).val()]+' - R$ '+combos_all_preco[$(this).val()]+'</div>'
      $('[id^=input_prod_combo_'+combo_param+'_]').each(function(){
        prd_id = this.getAttribute("produto_id");
        
        if ($(this).val() == 0){ erro_selecao = true }
        if (produtos_atual_quantidade[prd_id] > 0){
          console.log("AQUI 2 - "+prd_id)

          if(produtos_bloqueados_ids[prd_id] == undefined){

            elemento_confirmacao += '<div style="padding-left: 20px">'+produtos_all[prd_id]+'</div>'
            produtos_combo.push(prd_id)
            produtos_atual_quantidade[prd_id] = parseInt(produtos_atual_quantidade[prd_id]) - 1
            
          }else{
            erro_bloqueio.push(prd_id)
          }

        }else{
          erro_quantidade.push(prd_id)
        }
      
      })
      $('[id^=select_nested_prod_combo_'+combo_param+'_]').each(function(){
        
        if ($(this).val() == 0){ erro_selecao = true }

        if (produtos_atual_quantidade[$(this).val()] > 0){
          console.log("AQUI 3 - "+$(this).val())

          if(produtos_bloqueados_ids[$(this).val()] == undefined){
            prd_id = this.getAttribute("produto_id");
            elemento_confirmacao += '<div style="padding-left: 20px">'+produtos_all[$(this).val()]+'</div>'
            produtos_combo.push($(this).val())
            produtos_atual_quantidade[$(this).val()] = parseInt(produtos_atual_quantidade[$(this).val()]) - 1
          }else{
            erro_bloqueio.push($(this).val())
          }
        }else{
          erro_quantidade.push($(this).val())
        }


      })
      total = total + combos_all_preco[$(this).val()]
      produtos.push({tipo: 'c', id: $(this).val(), produtos: produtos_combo})
    })

    elemento_confirmacao += '</div><div class="comment-footer"><span class="text-muted">Total : R$ '+total.toFixed(2)+'</span></div></div>'

    elemento_confirmacao += '<div style="padding-left: 17px"><button class="btn btn-danger waves-effect waves-light m-r-10" id="remover_confirmacao_'+div_confirmacao_num+'" onclick="remover_div_confirmacao('+div_confirmacao_num+')" type="button">Remover</button><a helper="button" style="display:none" id="imprimir_confirmacao_'+div_confirmacao_num+'" class="btn waves-effect waves-light btn-info" style="margin-right: 10px" href="" target="_blank">Imprimir</a></div></div>'
  
    console.log("ZUANO")
    console.log(parseFloat(user_saldo_disponivel))
    console.log(parseFloat(total))

    if (parseFloat(user_saldo_disponivel) >= parseFloat(total)){

      if (erro_quantidade.length == 0 && erro_bloqueio.length == 0 && !erro_selecao){
        $('#div_confirmacao').append(elemento_confirmacao)
        confirmacao.push({div_confirmacao_id: div_confirmacao_num, user_id: user_id, produtos: produtos})
        div_confirmacao_num++
        $("#add_produtos").html("")
        $("#add_combos").html("")
        $("div.div_erro_quantidade").hide()
        $("div.div_erro_bloqueio").hide()
        $("div.div_erro_selecao").hide()
        $("div.erro_saldo").hide()
        produtos_all_quantidade = produtos_atual_quantidade

      }else if(erro_selecao){
        $("div.div_erro_selecao span").html("Favor selecionar seu produto.")
        $("div.div_erro_selecao").show()
      }else if(erro_quantidade.length != 0){
        erro_quantidade = jQuery.unique(erro_quantidade)
        erro_quantidade_content = ""
        for(i in erro_quantidade){
          erro_quantidade_content = erro_quantidade_content + "<div>Quantidade de "+produtos_all[erro_quantidade[i]]+" altrapassada. Quantidade atual: "+produtos_all_quantidade[erro_quantidade[i]]+"</div>"
        }
        $("div.div_erro_quantidade span").html(erro_quantidade_content)
        $("div.div_erro_quantidade").show()
      }else if(erro_bloqueio.length != 0){
        erro_bloqueio = jQuery.unique(erro_bloqueio)
        erro_bloqueio_content = ""
        for(i in erro_bloqueio){
          erro_bloqueio_content = erro_bloqueio_content + "<div>Produto "+produtos_all[erro_bloqueio[i]]+" bloqueado para o usuário.</div>"
        }
        $("div.div_erro_bloqueio span").html(erro_bloqueio_content)
        $("div.div_erro_bloqueio").show()
      }
      

    } else {
      if (erro_selecao){
        $("div.div_erro_selecao span").html("Favor selecionar seu combo.")
        $("div.div_erro_selecao").show()
      }else{
        $("div.erro_saldo span").html("Saldo Insuficiente.")
        $("div.erro_saldo").show()
      }
    }


  })

  function remover_div_confirmacao(id){
    $("#div_confirmacao_usu_"+id).remove();

    for(i in confirmacao){

      if (confirmacao[i].div_confirmacao_id == id){
        confirmacao.splice(i, 1);
      }
    }
  }

  function remover_select_prod(id){
    $("#div_select_prod_"+id).remove();
  }

  function remover_select_combo(id){
    $("#div_select_combo_"+id).remove();
  }

  function remover_select_combo_select(id,id2){
    $("#div_select_nested_prod_combo_"+id+"_"+id2).remove();
  }

  function remover_select_combo_input(id,id2){
    $("#div_input_prod_combo_"+id+"_"+id2).remove();
  }

  $("#enviar_confirmacao").click(function(){

    $.getJSON("/enviar_confirmacao_compra", { confirmacao: confirmacao },function(resultado) {
      if (resultado) {
        console.log(resultado)
        if (resultado.status == "OK"){
          transferencia_ids = "" 
          for(i in resultado.resposta){
            div_confirmacao_id = resultado.resposta[i].div_confirmacao_id
            transf_geral_id = resultado.resposta[i].transf_geral_id

            $("#remover_confirmacao_"+div_confirmacao_id).hide()
            $("#imprimir_confirmacao_"+div_confirmacao_id).attr("href","/transferencia_gerais/transferencia_pdf/"+transf_geral_id+".pdf");
            $("#imprimir_confirmacao_"+div_confirmacao_id).show()
            transferencia_ids = transferencia_ids + transf_geral_id + ","
            for(i in confirmacao){
              if (confirmacao[i].div_confirmacao_id == div_confirmacao_id){
                confirmacao.splice(i, 1);
              }
            }

          }

          $("#enviar_confirmacao").hide()
          $("#imprimir_tudo").attr("href","/transferencia_gerais/transferencia_completa_pdf/"+transferencia_ids.substring(0, transferencia_ids.length-1)+".pdf");
          $("#imprimir_tudo").show()

        }
      } else {
        console.log("NAO DEU");
      }
    })

  })