/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/css/bootstrap
 *= require bootstrap/css/bootstrap-grid.min
 *= require bootstrap/css/bootstrap-reboot.min
 *= require prism/prism.css
 *= require animate
 *= require style
 *= require form
 *= require colors/megna
 *= require select2/dist/css/select2.min
 *= require bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker
 *= require bootstrap-datepicker
 *= require bootstrap-datetimepicker
 *= require datatables/media/css/dataTables.bootstrap4
 *= require dropify/dist/css/dropify.min
 *= require select2/dist/css/select2.min.css
 *= require multiselect/css/multi-select.css
 *= require bootstrap-select/bootstrap-select.min.css
 *= require icons/font-awesome/css/font-awesome.min.css
 *= require icons/material-design-iconic-font/css/materialdesignicons.min

 */
 
.validate_invalid{
	color: #d9534f;
	border-color: #d9534f;
}

.validate_valid{
	color: #5cb85c;
	border-color: #5cb85c;
}

.menuzinho{
 color: #67757c;
 padding: 9px 15px;
}

.show_input{
	font-weight: bold;
	font-size: 14px;
}

.input_filtro{
	height: 52px;
}